n8n/workflows/shortflow-production.json
{
  "name": "ShortFlow Production Workflow - Corrected",
  "nodes": [
    {
      "parameters": {
        "path": "video-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Publish Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 220],
      "webhookId": "shortflow-video-publish"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.videoId}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.body.userId}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.body.videoUrl}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Validate Webhook Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [420, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "immediate-empty-scheduled-at",
              "leftValue": "={{$node[\"Publish Webhook\"].json.body.scheduledAt}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            },
            {
              "id": "immediate-past-scheduled-at",
              "leftValue": "={{$node[\"Publish Webhook\"].json.body.scheduledAt ? new Date($node[\"Publish Webhook\"].json.body.scheduledAt).getTime() : 0}}",
              "rightValue": "={{Date.now()}}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "name": "Is Immediate Publish",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"error\":\"Missing videoId, userId, or videoUrl\"}",
        "options": {}
      },
      "name": "Return Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true,\"message\":\"Video is scheduled for cron publishing; webhook publish skipped\"}",
        "options": {}
      },
      "name": "Return Scheduled Deferred",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 80]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.body.videoUrl}}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Download Webhook Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [860, 220]
    },
    {
      "parameters": {
        "title": "={{$node[\"Publish Webhook\"].json.body.title || \"Untitled\"}}",
        "description": "={{($node[\"Publish Webhook\"].json.body.description || \"\") + \"\\n\\n\" + (($node[\"Publish Webhook\"].json.body.hashtags || []).join(\" \"))}}",
        "categoryId": "22",
        "privacyStatus": "public",
        "binaryPropertyName": "data",
        "options": {}
      },
      "name": "Upload Webhook Video to YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [1080, 220]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + \"/rest/v1/videos?id=eq.\" + $node[\"Publish Webhook\"].json.body.videoId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\":\"published\"}",
        "options": {}
      },
      "name": "Mark Webhook Video Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1300, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true,\"message\":\"Video published to YouTube\"}",
        "options": {}
      },
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 220]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "expression": 5
            }
          ]
        }
      },
      "name": "Schedule Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 520]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + \"/rest/v1/videos?select=*&status=eq.scheduled&scheduled_at=lte.\" + $now.toUTC().toISO()}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Check Scheduled Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [420, 520]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.video_url}}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Download Scheduled Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [640, 520]
    },
    {
      "parameters": {
        "title": "={{$node[\"Check Scheduled Videos\"].json.title || \"Untitled\"}}",
        "description": "={{($node[\"Check Scheduled Videos\"].json.description || \"\") + \"\\n\\n\" + (($node[\"Check Scheduled Videos\"].json.hashtags || []).join(\" \"))}}",
        "categoryId": "22",
        "privacyStatus": "public",
        "binaryPropertyName": "data",
        "options": {}
      },
      "name": "Upload Scheduled Video to YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [860, 520]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + \"/rest/v1/videos?id=eq.\" + $node[\"Check Scheduled Videos\"].json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\":\"published\"}",
        "options": {}
      },
      "name": "Mark Scheduled Video Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1080, 520]
    }
  ],
  "connections": {
    "Publish Webhook": {
      "main": [
        [
          {
            "node": "Validate Webhook Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Webhook Payload": {
      "main": [
        [
          {
            "node": "Is Immediate Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Immediate Publish": {
      "main": [
        [
          {
            "node": "Download Webhook Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Scheduled Deferred",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Webhook Video": {
      "main": [
        [
          {
            "node": "Upload Webhook Video to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Webhook Video to YouTube": {
      "main": [
        [
          {
            "node": "Mark Webhook Video Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Webhook Video Published": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Cron Trigger": {
      "main": [
        [
          {
            "node": "Check Scheduled Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scheduled Videos": {
      "main": [
        [
          {
            "node": "Download Scheduled Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Scheduled Video": {
      "main": [
        [
          {
            "node": "Upload Scheduled Video to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Scheduled Video to YouTube": {
      "main": [
        [
          {
            "node": "Mark Scheduled Video Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
