n8n/workflows/shortflow-production.json
{
  "name": "ShortFlow Production Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "shortflow",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Publish Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "shortflow-publish-id"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.videoUrl}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.body.userId}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.body.scheduledAt}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Missing required payload fields\"\n}",
        "options": {}
      },
      "name": "Return Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.body.videoUrl}}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Download Video From Supabase URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"all\",\n  \"context\": \"{{$node['Publish Webhook'].json.body.description || 'viral video'}}\",\n  \"videoId\": \"{{$node['Publish Webhook'].json.body.videoId}}\"\n}",
        "options": {}
      },
      "name": "Process Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL || 'http://host.docker.internal:8000'}}/rest/v1/videos?id=eq.{{$node['Publish Webhook'].json.body.videoId}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{$json.title}}\",\n  \"description\": \"{{$json.description}}\",\n  \"hashtags\": {{$json.hashtags}},\n  \"status\": \"scheduled\"\n}",
        "options": {}
      },
      "name": "Update Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Video metadata processed and scheduled successfully\"\n}",
        "options": {}
      },
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    },

    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "name": "Schedule Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL || 'http://host.docker.internal:8000'}}/rest/v1/videos?status=eq.scheduled&scheduled_at=lte.now",
        "options": {}
      },
      "name": "Check Scheduled Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videoId\": \"{{$json.id}}\",\n  \"platforms\": {{$json.platforms}}\n}",
        "options": {}
      },
      "name": "Publish Due Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 500]
    },

    {
      "parameters": {
        "path": "error-handler",
        "options": {}
      },
      "name": "Error Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 700],
      "webhookId": "error-handler-webhook-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL || 'http://host.docker.internal:8000'}}/rest/v1/publish_history",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_id\": \"{{$json.body.videoId}}\",\n  \"status\": \"failed\",\n  \"platform\": \"{{$json.body.platform || 'all'}}\"\n}",
        "options": {}
      },
      "name": "Store Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 700]
    },
    {
      "parameters": {
        "jsCode": "let retries = $json.body.retryCount || 0;\nif (retries < 3) {\n  retries++;\n  return { json: { retry: true, retryCount: retries, videoId: $json.body.videoId, platform: $json.body.platform } };\n}\nreturn { json: { retry: false } };"
      },
      "name": "Retry Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"videoId\": \"{{$json.videoId}}\",\n  \"platforms\": [\"{{$json.platform}}\"]\n}",
        "options": {}
      },
      "name": "Execute Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 600]
    }
  ],
  "connections": {
    "Publish Webhook": {
      "main": [ [ { "node": "Validate Payload", "type": "main", "index": 0 } ] ]
    },
    "Validate Payload": {
      "main": [
        [ { "node": "Download Video From Supabase URL", "type": "main", "index": 0 } ],
        [ { "node": "Return Invalid", "type": "main", "index": 0 } ]
      ]
    },
    "Download Video From Supabase URL": {
      "main": [ [ { "node": "Process Metadata", "type": "main", "index": 0 } ] ]
    },
    "Process Metadata": {
      "main": [ [ { "node": "Update Supabase", "type": "main", "index": 0 } ] ]
    },
    "Update Supabase": {
      "main": [ [ { "node": "Return Success", "type": "main", "index": 0 } ] ]
    },

    "Schedule Cron Trigger": {
      "main": [ [ { "node": "Check Scheduled Videos", "type": "main", "index": 0 } ] ]
    },
    "Check Scheduled Videos": {
      "main": [ [ { "node": "Publish Due Videos", "type": "main", "index": 0 } ] ]
    },

    "Error Webhook Trigger": {
      "main": [ [ { "node": "Store Failure", "type": "main", "index": 0 } ] ]
    },
    "Store Failure": {
      "main": [ [ { "node": "Retry Logic", "type": "main", "index": 0 } ] ]
    },
    "Retry Logic": {
      "main": [ [ { "node": "Execute Retry", "type": "main", "index": 0 } ] ]
    }
  },
  "active": false,
  "settings": {}
}
