n8n/workflows/video-publish.json
{
  "name": "Video Publish Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "video-publish",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Video Publish Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "shortflow-video-publish"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f180f00a-52d0-4045-81f6-43b7893599e6",
              "leftValue": "={{ $json.body.videoId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "d338c6bc-0f1f-4f3c-a355-2b2d203716d4",
              "leftValue": "={{ $json.body.videoUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.body.videoUrl }}",
        "options": {}
      },
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 160]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $json.body.videoId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8n-community-node-package-supabase.supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "publishing"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Status to Publishing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SHORTFLOW_APP_URL }}/api/videos/{{ $json.body.videoId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8n-community-node-package-supabase.supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.body.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.body.description }}"
            },
            {
              "name": "hashtags",
              "value": "={{ $json.body.hashtags }}"
            },
            {
              "name": "status",
              "value": "published"
            }
          ]
        },
        "options": {}
      },
      "name": "Publish to Platforms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 160]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/videos?id=eq.{{ $json.body.videoId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8n-community-node-package-supabase.supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "published"
            }
          ]
        },
        "options": {}
      },
      "name": "Mark as Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 160]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "message",
              "value": "Video published successfully"
            }
          ]
        },
        "options": {}
      },
      "name": "Return Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1450, 160]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "false"
            },
            {
              "name": "error",
              "value": "Invalid payload"
            }
          ]
        },
        "options": {}
      },
      "name": "Return Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 440]
    }
  ],
  "connections": {
    "Video Publish Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Update Status to Publishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Publishing": {
      "main": [
        [
          {
            "node": "Publish to Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Platforms": {
      "main": [
        [
          {
            "node": "Mark as Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Published": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
